.header
  display flex
  align-content baseline
  align-items baseline
  justify-content space-between

  &__name
    a
      text-decoration none
      color black

  nav
    &.main
      flex-grow 1
      padding-left 30px
    a
      margin-left 10px
    a:not(:last-child):after
      content ''
      display inline-block
      height 10px
      width 1px
      margin-left 10px
      background grey
