.task-editor
  &__body-input
    width 100%
    border-width 0 0 1px 0
    border-color black
    font-size 40px
    font-family "EB Garamond", "Charter", "Georgia", serif

  &__form
    margin-top 20px