.task-list-and-edit
  display flex

  &__task-list
    width 500px
    padding-top 25px

  &__edit
    width 500px
    margin-left 40px
    padding-top 10px

  &__edit, &__task-list
    border-top solid 5px $grey

