.task-list
  margin-left 34px

  &__drop
    position relative
    height 0px
    display block
    border solid 1px #777
    margin-bottom -2px

    &::before
      content ""
      width 10px
      height 10px
      background #444
      position absolute
      border-radius 5px
      top -5px
      left -5px

    &.--child
      margin-left 20px

.task
  margin-bottom 3px

  &__drag-point
    display inline-block
    box-sizing border-box
    margin-right 5px
  //.--composing&__drag-point
  //  border solid 1px #aaa

  &.--proxy-selected
    // background grey

  &.--empty &__drag-point // Task without dependency
    width 10px
    height 10px
    border solid 1px #222
    border-radius 6px


  &.--closed &__drag-point
    width 0
    height 0
    border-top 5px solid transparent
    border-bottom 5px solid transparent
    border-right 5px solid transparent
    border-left 5px solid grey

  &.--opened &__drag-point
    width 0
    height 0
    border-left 5px solid transparent
    border-right 5px solid transparent
    border-top 5px solid grey

.task-tree
  margin-left 20px

  &.--root
    margin-left 0

.task-field
  display inline-block

  input
    border-width 0
    border-color black
    font-size 16px
    font-family inherit

    &:focus
      border-width 0 0 1px 0
