#do-now
  max-width 500px
  margin: 0 auto

  .do-now-title
    text-align: center

  .do-now-body
    margin-top 20px
    border: 1px solid
    padding: 20px
    text-align: center

  .do-now-actions
    margin-top 20px
    display: flex
    justify-content: center

    input[type=submit]
      @extend .button.--primary
      padding: 5px 10px
      margin-right 20px
