<div .header>
    <h1 .header__name>
        <a href="/">Todograph

    $if (isJust mAuthId)
        <nav .main>
            <a href=@{ApplicationR}>
                Graphs

            <a href=@{DoNowIndexR}>
                Do now
    <nav>
        $if (isNothing mAuthId)
            <a href=@{AuthR registerR}>
                Sign Up
            <a href=@{AuthR LoginR}>
                Login
        $else
            <a href=@{SettingsR}>
                Settings
            <a href=@{AuthR LogoutR}>
                Logout


<!-- <div .menu>
    $if not $ Just HomeR == mcurrentRoute
        <ul .breadcrumb>
            $forall bc <- parents
                <li>
                    <a href="@{fst bc}">#{snd bc}

            <li .active>#{title}
-->

    $maybe msg <- mmsg
        <div .alert>#{msg}

<div .default-layout-container>
    ^{widget}


<footer .footer>
    <p .footer__text>
        #{appCopyright $ appSettings master}
